.cafe {
    color: brown;
}

.monospace {
    font-family: monospace;
}

.hr-middle {
    width: 50%;
    color: black;
}

.middle-blue-italique {
    color: blue;
    text-align: center;
    font-style: italic;
    background-color: whitesmoke;
}

.font-style-font-variant {
    font-style: oblique;
    /* font-variant: small-caps;*/
    font-weight: 100;
    font-family: Prestige, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: blink;
    text-transform: uppercase;
    
    border-style: outset;
    border-width: .5em;
    border-collapse: separate;
    border-radius: 10px/60px;
    padding-left: 10px;
    margin: 4em;
    /*display: inline-block;*/
    /*border-color: rgb(27, 13, 226);*/
}

ins {
    line-height: 10;
}

/*code {
    color: aqua;
}*/