.inline-block {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: justify;
    margin: 10px;
}

.inline-block2 {
    margin: 20px;
    width: 40%;
    float: right;
}

.bottom {
    position: fixed;
    bottom: 0;
    font-style: italic;
}

.together {
    /*border-style: solid;*/
    clear: both;
}
.green {
    background-color: rgb(93, 204, 93);
}