.inline-block {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: justify;
    margin: 10px;
}

.inline-block2 {
    margin: 20px;
    width: 40%;
    float: right;
}

.bottom {
    position: relative;
    bottom: 0;
    font-style: italic;
}

.together {
    /*border-style: solid;*/
    clear: both;
}
.green {
    background-color: rgb(93, 204, 93);
    text-align: center;
}

.light-green {
    background-color: rgb(153, 250, 153);
    text-align: justify;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.table1 th, .table1 td, .table1{
    border: solid 1px;
    border-collapse: collapse;
}

.blue {
    background-color: rgb(116, 193, 219);
}

.table-blue {
    border: solid 1px;
    border-collapse: collapse;
}
.table-blue td, .table-blue th {
    border: solid 1px;
    border-bottom: none;
    border-top: none;
    border-collapse: collapse;
    text-align: center;
}

.table-calendar {
    border: solid 2px;
    text-align: center;
    border-collapse: collapse;
}

.yellow {
    background-color: yellow;
}

.table4, .table4 td {
    border: solid 1px;
    padding: 4px;
}

.red {
    background-color: rgb(233, 38, 38);
    color: white;
}

.gymnastics-one {
    text-align: center;
    font-style: italic;
    background-color: rgb(18, 18, 120);
    color: rgb(187, 155, 27);
}
.greatest-females {
    width: 48%;
    display: inline-block;
}

.greatest-males {
    width: 48%;
    float: right;
}

.simone-biles {
    width: 98%;
    height: 45%;
    margin-left: 1.0%;
    text-align: center;
}

.bottom-page {
    float: right;
    overflow: scroll;
}