/jpa02/nbproject/private/
/booksManager/nbproject/private/
/booksManager/build/
/booksManager/dist/
/HibernateManyToMany/nbproject/private/
/snake/nbproject/private/
/snake/build/
/snake/dist/
/jpa02/build/
/jpa02/dist/
/schoolBus/nbproject/private/
/schoolBus/build/
/schoolBus/dist/
/newWayToCode/xml/nbproject/private/
/newWayToCode/xml/build/
/newWayToCode/xml/dist/
/newWayToCode/tp7/nbproject/private/
/NetBeansProjects/webstore/nbproject/private/
/NetBeansProjects/webstore/build/
/NetBeansProjects (copy)/swing3/nbproject/private/
/NetBeansProjects (copy)/swing3/build/
/NetBeansProjects/taptouchclone/target/
/NetBeansProjects/exercices_dellanoy/ecouteur_many_windows/nbproject/private/
/NetBeansProjects/exercices_dellanoy/ecouteur_many_windows/dist/
/NetBeansProjects/exercices_dellanoy/ecouteur_many_windows/build/
