/jpa02/nbproject/private/
/booksManager/nbproject/private/
/booksManager/build/
/booksManager/dist/
/HibernateManyToMany/nbproject/private/
/snake/nbproject/private/
/snake/build/
/snake/dist/
/jpa02/build/
/jpa02/dist/
/schoolBus/nbproject/private/
/schoolBus/build/
/schoolBus/dist/
